

body{
    background: #333;
}

.container{
    position: relative;
    margin-top: 175px;
}

.row {
    display: flex;
    justify-content: center;
}
.color-btn{
    height: 200px;
    width: 200px;
}

#green{
    background-color: green;
    border-radius: 200px 0 0 0;
    margin: 0 10px 10px 0;
}

.green-click{
    background: rgb(150, 255, 150) !important;
}

#red{
    background: red;
    border-radius: 0 200px 0 0;
    margin: 0 0 10px 10px;
}

.red-click{
    background: rgb(255, 150, 150) !important;
}


#yellow{
    background: yellow;
    border-radius: 0 0 0 200px;
    margin: 10px 10px 0 0;
}

.yellow-click{
    background: rgb(255, 255, 150) !important;
}


#blue{
    background: blue;
    border-radius: 0 0 200px 0;
    margin: 10px 0 0 10px;
}

.blue-click{
    background: rgb(150, 150, 255) !important;
}

.play-btn {
    background: #333;
    border-radius: 100%;
    box-shadow: 0 0 50px;
    height: 180px;
    width: 180px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: 650px;
}